 {% extends 'base.html' %}

 {%block content%}
 {{ block.super}}

 <h1 style="  font-size:50px; margin-top:60px;">My Gallery</h1>
<p>This is my gallery where you can view different images.You can search for images with diffrent to their names like food,Media,Flower,Vegetables,Family,Forest,Computer</p>
<!-- https://images.pexels.com/photos/356968/pexels-photo-356968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 -->
<a href="{% url 'photos' %}" class="btn btn-info btn-small">View Photos</a>
 {%endblock%}