{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class='row'>
        {% if photo %}

        <h2 class="jumbotron text-center"><strong>Found {{photo|length}} of searched term {{message}}</strong> </h2>
        {%else%}
        <h3 class="jumbotron"><strong>Found 0 photos for the search term {{message}}</strong> </h3>

        {%endif%}

    </div>


    {%if photo %}
    {%for photos in photo%}


    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="" data-toggle="modal" data-target="#staticBackdrop{{photos.id}}">
                <img src="{{photos.photo.url}}" class="img-responsive styled" alt="cant show"></a>
            </div>
            <div class="panel-footer text-center"><b>Name:</b>{{photos.name}}</div>
            <div class="panel-footer text-center"><b>Description:</b>{{photos.photo_description}}</div>
        </div>
    </div>


</div>


</div>



</div>
{% endfor %}
{% endif %}

</div>

{% endblock %}